{% extends "semic_core_voc.j2" %}

{% block summary %}
<p>
	Locations can be described in three principal ways: by using a place name, a geometry or an
    address. The specific context will determine which method of describing a location is most
    appropriate. The Core Location Vocabulary provides structure for all three.
</p>
<p>
    ISO 19112 defines a location as "an identifiable geographic place." With this in mind, "Eiffel
    Tower", "Madrid" and "California" are all locations and this is a common way of representing
    locations in public sector data, i.e. simply by using a recognised name. Such identifiers are
    common although they can be highly ambiguous as many places share the same or similar names.
</p>
<p>
    In addition to a simple (string) label or name for a Location, this vocabulary defines a property
    that allows a Location to be defined by a URI, such as a GeoNames or DBpedia URI.
</p>
<p>
    No cardinality constraints are placed on any property of the Location, Address or Geometry
    classes so as to maximise flexibility. A single address may be defined in different ways, a
    geometry may be defined using different coordinate reference systems and a single place may
    have no recognised name or multiple names. The Core Location Vocabulary makes a minimum
    number of assumptions about what data will be encoded. However, it is clearly nonsense to
    define any of the location classes without any properties or to provide multiple instances of the
    same property with conflicting values.
</p>
{% endblock %}

{% block license %}
<p>This specification of <a href=”https://joinup.ec.europa.eu/collection/semantic-interoperability-community-semic”>SEMIC</a> is published under “<a href=”https://joinup.ec.europa.eu/licence/isa-open-metadata-licence-v11”ISA Open Metadata Licence 1.1</a>”.</p>
{% endblock %}

{% block examples %}
<h4>Geometry RDF Examples</h4>

<h5>
  WKT (GeoSPARQL)
</h5>
<pre class="code"><code>
  <ex:a> a locn:Location ;
    locn:geometry "<http://www.opengis.net/def/crs/OGC/1.3/CRS84> Point(-0.00147551.477811)"^^ogc:WKTLiteral .
</code></pre>

<h5>
  GML
</h5>
<pre class="code"><code>
  <ex:a> a locn:Location ;
    locn:geometry
      "<gml:Point srsName="http://www.opengis.net/def/crs/OGC/1.3/CRS84">
	     <gml:coordinates>
		   -0.001475, 51.477811
		 </gml:coordinates>
	   </gml:Point>"^^ogc:GMLLiteral .
</code></pre>

<h4>Geometry XML Examples</h4>

<h5>
  WKT (GeoSPARQL)
</h5>
<pre class="code"><code>
  <Geometry>
    <GeometryExpression>
      <http://www.opengis.net/def/crs/OGC/1.3/CRS84> Point(-0.001475 51.477811)
    </GeometryExpression>
    <GeometryDataType>
      ogc:WKTLiteral
    </GeometryDataType>
  </Geometry>
</code></pre>

{% endblock %}
