{% extends "af-ap.j2" %}

{% block summary %}
<p>
	This is an application profile, aimed to extend the use of the Alignment Format, originally envisaged for the description of an alignment of Core Vocabularies with other vocabularies.
</p>
{% endblock %}

{% block changelog %}
<p>
This is the first release of the AF-AP.
<p>
{% endblock %}
