{% extends "semic_core_voc.j2" %}

{% block summary %}
<p>
  This document describes the <strong>Core Criterion and Core Evidence Vocabulary (CCCEV)</strong>.
  Similarly to all the Core Vocabularies, CCCEV is "<a href="https://joinup.ec.europa.eu/sites/default/files/inline-files/ISA%20Handbook%20for%20using%20Core%20Vocabularies.pdf">a context-neutral data model that captures the fundamental characteristics of an entity</a>".
  A Core Vocabulary specifies a semantic data model covering a set of use cases across domains.
  The specification consists of terms with a minimal set of constraints (recommended codelists, usage guidelines, etc.).
</p>
<p>
	The Core Criterion and Core Evidence Vocabulary is designed to support the exchange of information between organisations or persons (more generally Agents) defining Requirements and organisations or persons responding to these Requirements by means of structured or unstructured Evidences.
</p>
<p>
        CCCEV contains two basic and complementary core concepts:
        <ul>
                <li>
                        the Requirement, a broad notion encompassing all forms of requests for information, that is often, but not necessarily, made with the objective to use it as a basis for making a judgement or decision; and
                </li>
                <li>
                        the Evidence, the data proving or disproving that a specific Requirement is met by someone or something, and thus has been fulfilled.
                </li>
        </ul>
        Using these basic core concepts, CCCEV provides a generic setting to define Criteria, i.e. Requirements with an assessment or evaluation objective in mind. This is a key motivation for CCCEV. 
</p>
<p>
	Although CCCEV shapes a general framework around these core concepts, implementations have to make decisions on how the framework is actually used by further elaborating the Core Vocabulary to make it applicable in their specific context. 
</p>
<p>
	An explanatory example that helps the reader to better understand this specification can be found <a href="./html/CCCEV_AnExplanatoryExample.pdf">here</a>.
</p>
{% endblock %}

{% block license %}
<p>This specification of <a href="https://joinup.ec.europa.eu/collection/semantic-interoperability-community-semic">SEMIC</a> is published under "<a href="https://joinup.ec.europa.eu/licence/isa-open-metadata-licence-v11">ISA Open Metadata Licence 1.1</a>".</p>
{% endblock %}

{% block changelog %}
</br>
</br>
A changelog describing the (major) changes to the previous version (1.0.0) of the Core Criterion and Core Evidence Vocabulary (released in December 2016) and the new version that is here being proposed (2.0.0), can be found <a href="Changelog.md">here</a>.
{% endblock %}

{% block implementationNote %}
</br>
</br>
<p>
  CCCEV as a Core Vocabulary is implementation-neutral. CCCEV does not impose any choices regarding <i>how</i> the data is being exchanged. Furthermore, CCCEV does not enforce the information carried in an Evidence to be directly accessible i.e. contained within the payload of the response. However, CCCEV does offer several ways to implement these aspects: (1) via subclassing of the Evidence class, (2) via sharing it as a dcat:Distribution or (3) via the class Supported Value. These are three distinguishable approaches, which can be used independently from each other, or in combination.
</p>
</br>
<p>
  CCCEV provides a framework for the implementers to define the actual information models and metadata models an Evidence should comply to. For example, a Birth Certificate model could be defined as a particular Evidence Type to which the Evidence shared by the competent authority should conform to. This information model would make use of existing metadata models. The implementer can define one or several domain specific models for defining the information acceptable or required within an Evidence.
</p>
</br>
<p>
  In practice, an Evidence (from the perspective of being a document) often provides more information than is required for the decision making process. Despite that it might be possible to express all these information pieces as Information Concepts, this remains a choice for the implementer. It is not the intent of CCCEV to provide a full-fledged data modeling framework with the notion of Information Concept and Supported Value. Usages such as creating Information Concepts independent from Requirements or providing Values for Information Concepts that are not requested by a Requirement should be considered as unintended usages, beyond the scope of CCCEV.
</p>
{% endblock %}
