{% extends "semic_core_voc.j2" %}

{% block summary %}
<p>
	The Core Business Vocabulary provides a minimum set of classes and properties for
    legal entities, that is, trading bodies that are formally registered with the relevant authority and that appear in
    business registers. This excludes sole traders, virtual organisations and other types of 'agents'
    that are able to do business.
</p>
{% endblock %}

{% block version %} 
<a href="https://semiceu.github.io/Core-Business-Vocabulary/releases/2.1.0">https://semiceu.github.io/Core-Business-Vocabulary/releases/2.1.0</a>
{% endblock %}

{% block source %} 
<a href="https://github.com/SEMICeu/Core-Business-Vocabulary/tree/master/releases/2.1.0">https://github.com/SEMICeu/Core-Business-Vocabulary/tree/master/releases/2.1.0</a>
{% endblock %}

{% block license %}
<p>This specification of <a href=”https://joinup.ec.europa.eu/collection/semantic-interoperability-community-semic”>SEMIC</a> is published under “<a href=”https://joinup.ec.europa.eu/licence/isa-open-metadata-licence-v11”ISA Open Metadata Licence 1.1</a>”.</p>
{% endblock %}


{% block changelog %}
<p>
A changelog describing the (major) changes to the previous version (2.0.0) of the Core Business Vocabulary and the new version that is being proposed in this specification (2.1.0), can be found <a href="{{ metadata.documentconfig.changelog }}">here</a>.
<p>
{% endblock %}