{% extends "semic_core_voc.j2" %}

{% block summary %}
<p>
	The Person Core Vocabulary provides a minimum set of classes and properties for
    describing a natural person, i.e. the individual as opposed to any role they may play in 
    society or the relationships they have to other people, organisations and property; 
    all of which contribute significantly to the broader concept of identity. The vocabulary is
    closely integrated with the Location and Business Core Vocabularies.
</p>
{% endblock %}

{% block license %}
<p>This specification of <a href=”https://joinup.ec.europa.eu/collection/semantic-interoperability-community-semic”>SEMIC</a> is published under “<a href=”https://joinup.ec.europa.eu/licence/isa-open-metadata-licence-v11”ISA Open Metadata Licence 1.1</a>”.</p>
{% endblock %}
