{% extends "semic_core_voc.j2" %}

{% block summary %}
<p>
	The Core Person Vocabulary provides a minimum set of classes and properties for
    describing a natural person, i.e. the individual as opposed to any role they may play in 
    society or the relationships they have to other people, organisations and property; 
    all of which contribute significantly to the broader concept of identity.
</p>
{% endblock %}

{% block license %}
<p>This specification of <a href=”https://joinup.ec.europa.eu/collection/semantic-interoperability-community-semic”>SEMIC</a> is published under “<a href=”https://joinup.ec.europa.eu/licence/isa-open-metadata-licence-v11”ISA Open Metadata Licence 1.1</a>”.</p>
{% endblock %}

{% block changelog %}
<p>
A changelog describing the (major) changes to the previous version (1.0.0) of the Core Person Vocabulary and the new version that is being proposed in this specification (2.0.0), can be found <a href="">here</a>.
<p>
{% endblock %}