{% extends "semic_core_voc.j2" %}

{% block summary %}
<p>
  The Core Public Organization Vocabulary (CPOV) is designed to support the exchange
  of basic information about individual public organizations. Using the vocabulary,
  almost certainly augmented with sector- or country-specific information, will facilitate
  the process for institutions publishing data about public organisations to
  <ul>
    <li>share information G2G (government to government), G2B (government to business) and G2C (government to citizen);
    <li>develop common information systems;
	<li>link data from public organizations to other data sets;
	<li>manage a cross-border repository of public services and organizations;
    <li>enable the creation of interoperable catalogues of public organisation in Europe and beyond;
    <li>browse public organizations by its function;
    <li>link public service provided, budgets, and other types of resources with certain public organisations;
    <li>keep track of the evolution of public organizations; and
    <li>increase efficiencies by spotting duplicated or overlapping functions.
  </ul>
</p>
<p>
  The Core Public Organization Vocabulary is designed to describe the organization
  itself. Whilst the vocabulary may support links to descriptions of public services,
  members of staff or other resources such as relevant legislation, policies and
  jurisdictional coverage, it will not describe those resources in detail.
</p>
<p>
  Public organizations involve elected representatives but these descriptions are out of
  scope for the current work but may be the focus of future work once the vocabulary
  is established and used.
</p>
<p>
  The vocabulary is not concerned with features associated with commercial entities
  such as shareholdings and ownership.
</p>
<p>
  Wherever possible, the CPOV will reuse existing vocabularies to avoid defining new
  terms. When reusing existing terms, it may define how they should be used.
</p>
<p>
  In order to assure the reusability, neutrality and extensibility of the core vocabulary,
  specific code lists to be used as values for properties will not be included in the
  specification.
</p>
{% endblock %}

{% block license %}
<p>This specification of <a href=”https://joinup.ec.europa.eu/collection/semantic-interoperability-community-semic”>SEMIC</a> is published under “<a href=”https://joinup.ec.europa.eu/licence/isa-open-metadata-licence-v11”ISA Open Metadata Licence 1.1</a>”.</p>
{% endblock %}

{% block changelog %}
<p>
A changelog describing the (major) changes to the previous version (1.0.0) of the Core Public Organization Vocabulary and the new version that is being proposed in this specification (2.0.0), can be found <a href="">here</a>.
</p>
{% endblock %}