{% extends "semic_core_voc.j2" %}

{% block summary %}
<p>
	The Core Public Event Vocabulary provides a minimum set of classes and properties for
    describing a public event , i.e. something that happens at a particular place and time,
organised by one or more agents for a particular purpose, and is of interest to a general
 audience. This definition excludes natural events such as earthquakes and volcanic 
eruptions.
</p>
{% endblock %}

{% block license %}
<p>This specification of <a href=”https://joinup.ec.europa.eu/collection/semantic-interoperability-community-semic”>SEMIC</a> is published under “<a href=”https://joinup.ec.europa.eu/licence/isa-open-metadata-licence-v11”ISA Open Metadata Licence 1.1</a>”.</p>
{% endblock %}

{% block changelog %}
<p>
This is the first major release of Core Public Event that includes the main class Public Event with the reuse of existing classes from other vocabularies such as locn:Address, cv:ContactPoint and cpsv:Participation.
<p>
{% endblock %}

{% block version %} 
<a href="https://semiceu.github.io/Core-Public-Event-Vocabulary/releases/1.0.0">https://semiceu.github.io/Core-Public-Event-Vocabulary/releases/1.0.0</a>
{% endblock %}

{% block source %} 
<a href="https://github.com/SEMICeu/Core-Public-Event-Vocabulary/tree/master/releases/1.0.0">https://github.com/SEMICeu/Core-Public-Event-Vocabulary/tree/master/releases/1.0.0</a>
{% endblock %}