{% extends "semic_core_voc_examples.j2" %}

{% block summary %}
<p>
	Locations can be described in three principal ways: by using a place name, a geometry or an
    address. The specific context will determine which method of describing a location is most
    appropriate. The Core Location Vocabulary provides structure for all three.
</p>
<p>
    ISO 19112 defines a location as "an identifiable geographic place." With this in mind, "Eiffel
    Tower", "Madrid" and "California" are all locations and this is a common way of representing
    locations in public sector data, i.e. simply by using a recognised name. Such identifiers are
    common although they can be highly ambiguous as many places share the same or similar names.
</p>
<p>
    In addition to a simple (string) label or name for a Location, this vocabulary defines a property
    that allows a Location to be defined by a URI, such as a GeoNames or DBpedia URI.
</p>
<p>
    No cardinality constraints are placed on any property of the Location, Address or Geometry
    classes in order to maximise flexibility. A single address may be defined in different ways, a
    geometry may be defined using different coordinate reference systems and a single place may
    have no recognised name or multiple names. The Core Location Vocabulary makes a minimum
    number of assumptions about what data will be encoded. However, it clearly makes no sense to
    define any of the location classes without any properties or to provide multiple instances of the
    same property with conflicting values.
</p>
{% endblock %}

{% block license %}
<p>This specification of <a href=”https://joinup.ec.europa.eu/collection/semantic-interoperability-community-semic”>SEMIC</a> is published under “<a href=”https://joinup.ec.europa.eu/licence/isa-open-metadata-licence-v11”ISA Open Metadata Licence 1.1</a>”.</p>
{% endblock %}

{% block examples %}
<h2 class="h2" id="examples">Geometry examples</h2>

<h3 class="h3">Geometry RDF examples</h3>

<h4 class=h4>RDF+WKT (GeoSPARQL)</h4>
<div>
	<iframe id="exampleiframe3" src="https://bertvannuffelen.github.io/semiceu-generated/doc/core-vocabulary/core-location/html/rdf_rdf+wkt" width="100%" onload="iframeLoadedById('exampleiframe3')"></iframe>
</div>

<h4 class=h4>RDF+GML (GeoSPARQL)</h4>
<div>
	<iframe id="exampleiframe4" src="https://bertvannuffelen.github.io/semiceu-generated/doc/core-vocabulary/core-location/html/rdf_rdf+gml" width="100%" onload="iframeLoadedById('exampleiframe4')"></iframe>
</div>

<h4 class=h4>RDF (WGS84 lat/long)</h4>
<div>
	<iframe id="exampleiframe5" src="https://bertvannuffelen.github.io/semiceu-generated/doc/core-vocabulary/core-location/html/rdf_rdf_wgs84" width="100%" onload="iframeLoadedById('exampleiframe5')"></iframe>
</div>

<h4 class=h4>RDF (schema.org)</h4>
<div>
	<iframe id="exampleiframe6" src="https://bertvannuffelen.github.io/semiceu-generated/doc/core-vocabulary/core-location/html/rdf_rdf_schema" width="100%" onload="iframeLoadedById('exampleiframe6')"></iframe>
</div>

<h4 class=h4>URI reference (GeoHash)</h4>
<div>
	<iframe id="exampleiframe7" src="https://bertvannuffelen.github.io/semiceu-generated/doc/core-vocabulary/core-location/html/rdf_uri" width="100%" onload="iframeLoadedById('exampleiframe7')"></iframe>
</div>

<h3 class=h3>Geometry XML examples</h3>

<h4 class=h4>WKT (GeoSPARQL)</h4>
<div>
	<iframe id="exampleiframe8" src="https://bertvannuffelen.github.io/semiceu-generated/doc/core-vocabulary/core-location/html/xml_wkt" width="100%" onload="iframeLoadedById('exampleiframe8')"></iframe>
</div>

<h4 class=h4>GML</h4>
<div>
	<iframe id="exampleiframe9" src="https://bertvannuffelen.github.io/semiceu-generated/doc/core-vocabulary/core-location/html/xml_gml" width="100%" onload="iframeLoadedById('exampleiframe9')"></iframe>
</div>

<h4 class=h4>URI reference (GeoHash)</h4>
<div>
	<iframe id="exampleiframe10" src="https://bertvannuffelen.github.io/semiceu-generated/doc/core-vocabulary/core-location/html/xml_uri" width="100%" onload="iframeLoadedById('exampleiframe10')"></iframe>
</div>

{% endblock %}

{% block changelog %}
<p>
A changelog describing the (major) changes to the previous version (1.0.0) of the Core Location Vocabulary and the new version that is being proposed in this specification (2.0.0), can be found <a href="">here</a>.
<p>
{% endblock %}
