{% extends "semic_core_voc.j2" %}

{% block summary %}
<p>
	The Core Public Event Vocabulary provides a minimum set of classes and properties for
    describing a public event , i.e. something that happens at a particular place and time,
organised by one or more agents for a particular purpose, and is of interest to a general
 audience. This definition excludes natural events such as earthquakes and volcanic 
eruptions.
</p>
{% endblock %}

{% block license %}
<p>This specification of <a href=”https://joinup.ec.europa.eu/collection/semantic-interoperability-community-semic”>SEMIC</a> is published under “<a href=”https://joinup.ec.europa.eu/licence/isa-open-metadata-licence-v11”ISA Open Metadata Licence 1.1</a>”.</p>
{% endblock %}

{% block changelog %}
<p>
A changelog describing the (major) changes to the previous version (0.0.4) of the Core Public Event Vocabulary and the new version that is being proposed in this specification (1.0.0), can be found <a href="{{ metadata.documentconfig.changelog }}">here</a>.
<p>
{% endblock %}
