{% extends "cpsv-ap.j2" %}

{% block summary %}
<p>
  The original Core Public Service Vocabulary Application Profile (CPSV-AP) was prepared in the context of Action 2016.29 – Accessing Member State
  information resources at European level – Catalogue of Services of the European Commission’s Interoperability for European Public Administrations (ISA) programme.
  The CPSV-AP has been seen as a first step for creating a model for describing public services related to business and life events,
  to facilitate the set-up of catalogues of services oriented to businesses and citizens.
</p>
<p>
  CPSV-AP is designed to meet the following use cases:
  <ul>
    <li>facilitating the access to public service information;</li>
    <li>building user-centric catalogues of public services at all levels from regional to a European federated catalogue;</li>
    <li>managing portfolios of public services; and</li>
    <li>finding information of generic and specialised public services.</li>
  </ul>
</p>
<p>
  The specification of the Core Public Service Vocabulary Application Profile is represented in a UML class diagram.
  The figure here beneath shows the full profile which includes:
  <ul>
    <li>The classes and properties that define the service itself: the necessary inputs, possible outputs,
    the responsible public authority and the events that trigger service use;</li>
    <li>The classes and properties that describe the context in which the service is offered.
    This includes relevant legislation and rules of operation for the service; and </li>
    <li>The interface between the service and its users: how and when it can be accessed.</li> 
</p>
{% endblock %}

{% block license %}
<p>This specification of <a href="https://joinup.ec.europa.eu/collection/semantic-interoperability-community-semic">SEMIC</a> is published under the <a href="https://joinup.ec.europa.eu/licence/isa-open-metadata-licence-v11">ISA Open Metadata Licence 1.1</a>.</p>
{% endblock %}
