{% extends "semic_core_voc.j2" %}

{% block summary %}
<p>
	The Core Public Service Vocabulary Application Profile (CPSV-AP) is a .... 
</p>
{% endblock %}

{% block license %}
<p>This specification of <a href=”https://joinup.ec.europa.eu/collection/semantic-interoperability-community-semic”>SEMIC</a> is published under “<a href=”https://joinup.ec.europa.eu/licence/isa-open-metadata-licence-v11”ISA Open Metadata Licence 1.1</a>”.</p>
{% endblock %}

{% block changelog %}
<p>
TODO
<p>
{% endblock %}
