{% extends "mldcat-ap.j2" %}

{% block summary %}
<p>
	This is an application profile, aimed to extend the use of DCAT-AP, originally envisaged for the description of a machine learning process, developed in collaboration with <a href="https://www.openml.org/">OpenML</a>.
</p>
{% endblock %}

{% block changelog %}
<p>
This is the first release of the MLDCAT-AP.
<p>
{% endblock %}
