{% extends "mldcat-ap.j2" %}

{% block summary %}
<p>
	This application profile aimed to extend the use of ADMS, originally 
    envisaged for the description of semantic interoperability assets, to also support 
    description of other types of interoperability solutions, covering the political, legal, 
    organisational and technical interoperability layers defined by the European Interoperability Framework.
</p>
{% endblock %}

{% block license %}
<p>This specification of <a href=”https://joinup.ec.europa.eu/collection/semantic-interoperability-community-semic”>SEMIC</a> is published under “<a href=”https://joinup.ec.europa.eu/licence/isa-open-metadata-licence-v11”ISA Open Metadata Licence 1.1</a>”.</p>
{% endblock %}

{% block examples %}
<h2 class="h2" id="examples">Examples</h2>

<h3 class="h3">Geometry RDF examples</h3>

<h4 class=h4>RDF+WKT (GeoSPARQL)</h4>
<div>
	<iframe id="exampleiframe3" src="https://bertvannuffelen.github.io/semiceu-generated/doc/core-vocabulary/core-location/html/rdf_rdf+wkt" width="100%" onload="iframeLoadedById('exampleiframe3')"></iframe>
</div>

<h4 class=h4>RDF+GML (GeoSPARQL)</h4>
<div>
	<iframe id="exampleiframe4" src="https://bertvannuffelen.github.io/semiceu-generated/doc/core-vocabulary/core-location/html/rdf_rdf+gml" width="100%" onload="iframeLoadedById('exampleiframe4')"></iframe>
</div>

<h4 class=h4>RDF (WGS84 lat/long)</h4>
<div>
	<iframe id="exampleiframe5" src="https://bertvannuffelen.github.io/semiceu-generated/doc/core-vocabulary/core-location/html/rdf_rdf_wgs84" width="100%" onload="iframeLoadedById('exampleiframe5')"></iframe>
</div>

<h4 class=h4>RDF (schema.org)</h4>
<div>
	<iframe id="exampleiframe6" src="https://bertvannuffelen.github.io/semiceu-generated/doc/core-vocabulary/core-location/html/rdf_rdf_schema" width="100%" onload="iframeLoadedById('exampleiframe6')"></iframe>
</div>

<h4 class=h4>URI reference (GeoHash)</h4>
<div>
	<iframe id="exampleiframe7" src="https://bertvannuffelen.github.io/semiceu-generated/doc/core-vocabulary/core-location/html/rdf_uri" width="100%" onload="iframeLoadedById('exampleiframe7')"></iframe>
</div>

<h3 class=h3>Geometry XML examples</h3>

<h4 class=h4>WKT (GeoSPARQL)</h4>
<div>
	<iframe id="exampleiframe8" src="https://bertvannuffelen.github.io/semiceu-generated/doc/core-vocabulary/core-location/html/xml_wkt" width="100%" onload="iframeLoadedById('exampleiframe8')"></iframe>
</div>

<h4 class=h4>GML</h4>
<div>
	<iframe id="exampleiframe9" src="https://bertvannuffelen.github.io/semiceu-generated/doc/core-vocabulary/core-location/html/xml_gml" width="100%" onload="iframeLoadedById('exampleiframe9')"></iframe>
</div>

<h4 class=h4>URI reference (GeoHash)</h4>
<div>
	<iframe id="exampleiframe10" src="https://bertvannuffelen.github.io/semiceu-generated/doc/core-vocabulary/core-location/html/xml_uri" width="100%" onload="iframeLoadedById('exampleiframe10')"></iframe>
</div>

{% endblock %}

{% block changelog %}
<p>
A changelog describing the (major) changes to the previous version (1.0.0) of the Core Location Vocabulary and the new version that is being proposed in this specification (2.0.0), can be found <a href="{{ metadata.documentconfig.changelog }}">here</a>.
<p>
{% endblock %}
