{% extends "sdg_ap.j2" %}

{% block summary %}
<p>
	The SDG search service model captures the information requirements of the Single Digital Gateway Regulation, with a focus on articles 9,10 and 11.
</p>
{% endblock %}

{% block license %}
<p>This specification of <a href=”https://joinup.ec.europa.eu/collection/semantic-interoperability-community-semic”>SEMIC</a> is published under “<a href=”https://joinup.ec.europa.eu/licence/isa-open-metadata-licence-v11”ISA Open Metadata Licence 1.1</a>”.</p>
{% endblock %}

{% block changelog %}
<p>
TODO
<p>
{% endblock %}
