{% extends "sdg_ap.j2" %}

{% block summary %}
<p>
The SDG Search Service model proposed by the Catalogue of Services Action focuses on the information requirements of the Single Digital Gateway Regulation, with a focus on articles 9, 10 and 11. The main use case of this model is to make a minimal set of information about the public services relevant for the regulation easily findable through the YourEurope portal. The model builds on top of the metadata for URLs or metadata required by the repository of links (<a href="https://ec.europa.eu/assets/grow/growth/_toolbox/sdg-docs/metadata-for-urls.pdf">specification</a> and <a href="https://eur-lex.europa.eu/legal-content/EN/TXT/HTML/?uri=CELEX:32020R1121&from=EN#d1e32-12-1">Implementing Act July 2020</a>). Moreover, it uses as main sources the Core Vocabularies developed and maintained by the ISA² Programme, and in particular the Core Public Service Vocabulary-Application Profile (CPSV-AP). The model is built around two main concepts:
  <ul>
    <li>Public Service: a mandatory or discretionary set of activities performed, or able to be performed, by or on behalf of a public organisation, publicly funded and arise from public policy. It is covering all information about the services offered by competent authorities in the EEA countries and the European Commission as part of the Single Digital Gateway Regulation (EU) 2018/1724.
    <li>Webpage: the hypertext document containing the information about the Public Service.
  </ul>
</p>
<p>
The main idea of the SDG Search Service model is to enable competent authorities to use common metadata to structure their public services, independently from the level of granularity or complexity of these services. The model does not impose to public organisations a fixed number of public services identified as in-scope of the Regulation. Similarly, each public service can have one or several webpages indicated as containing relevant information for this service.
</p>
{% endblock %}

{% block license %}
<p>This specification of <a href=”https://joinup.ec.europa.eu/collection/semantic-interoperability-community-semic”>SEMIC</a> is published under “<a href=”https://joinup.ec.europa.eu/licence/isa-open-metadata-licence-v11”ISA Open Metadata Licence 1.1</a>”.</p>
{% endblock %}

{% block changelog %}
<p>
No changelog defined.
<p>
{% endblock %}
